@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: "Sohne Schmal";
    src:url('../public/assets/fonts/TestSöhneSchmal-Dreiviertelfett.woff2') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Sohne Schmal";
    src:url('../public/assets/fonts/TestSöhneSchmal-Fett.woff2') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
 @font-face {
     font-family: "MaisonNeueDemi";
     src: url('../public/assets/fonts/MaisonNeue-Demi.ttf') format("truetype");
 }
 @font-face {
     font-family: "MaisonNeueMedium";
     src: url('../public/assets/fonts/MaisonNeue-Medium.ttf') format("truetype");
 }
 @font-face {
     font-family: "MaisonNeueBook";
     src: url('../public/assets/fonts/Maison-Neue-Book.ttf') format("truetype");
 }
 @font-face {
     font-family: "MaisonNeueMono";
     src: url('../public/assets/fonts/Maison-Neue-Mono.ttf') format("truetype");
 }

 @font-face {
     font-family: "MaisonNeueLight";
     src: url('../public/assets/fonts/MaisonNeue-Light.ttf') format("truetype");
 }
body {
    font-family: 'Maison Neue', sans-serif;
}
.swiper-button-next{
 background: transparent !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
content: '' !important;
}
.swiper-slide .layer {
    opacity: 1;
}

.swiper-slide-active .layer {
    opacity: 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: white !important;
    border-radius: 0 !important;
}